In [1]:
import pandas as pd

In [2]:
exportacao_geral = pd.read_excel('./dados/comex/H_EXPORTACAO_GERAL_BRASIL_2024.xlsx')

In [3]:
exportacao_geral.head()

,Código SH4,Descrição SH4,2024 - Valor US$ FOB
0,2709,Óleos brutos de petróleo ou de minerais betumi...,44964285230
1,1201,"Soja, mesmo triturada",42949763522
2,2601,"Minérios de ferro e seus concentrados, incluíd...",29860185978
3,1701,Açúcares de cana ou de beterraba e sacarose qu...,18601687594
4,2710,"Óleos de petróleo ou de minerais betuminosos, ...",11650603196

In [4]:
exportacao_usa = pd.read_excel('./dados/comex/H_EXPORTACAO_USA_BRA_2024.xlsx')

In [6]:
exportacao_usa.head(2)

,Código SH4,Descrição SH4,Países,2024 - Valor US$ FOB
0,2709,Óleos brutos de petróleo ou de minerais betumi...,Estados Unidos,5830983860
1,7207,Produtos semimanufacturados de ferro ou aço nã...,Estados Unidos,2802772226

In [19]:
mapeamento = pd.read_excel('./dados/mapeamento/PRODLIST Ind 2022 x NCM 2022.xlsx')

In [20]:
mapeamento.head(2)

  PRODLIST-Ind 2022 NCM 2022 (SET/2022)
0         0500.2010          2701.19.00
1         0500.2030          2701.11.00

In [23]:
mapeamento['prodlist 4d'] = mapeamento['PRODLIST-Ind 2022'].str[0:4]
mapeamento['NCM 4d'] = mapeamento['NCM 2022 (SET/2022)'].str[0:4]

In [24]:
mapeamento.head()

  PRODLIST-Ind 2022 NCM 2022 (SET/2022) prodlist 4d NCM 4d
0         0500.2010          2701.19.00        0500   2701
1         0500.2030          2701.11.00        0500   2701
2         0500.2030          2701.12.00        0500   2701
3         0500.2030          2701.19.00        0500   2701
4         0500.2030          2702.10.00        0500   2702

In [13]:
df_participacao = exportacao_geral.copy().merge(exportacao_usa.copy().drop(['Descrição SH4','Países'],axis=1).rename(columns={'2024 - Valor US$ FOB': 'Valor FOB USA'}), on='Código SH4')

In [14]:
df_participacao['Participação USA'] = df_participacao['Valor FOB USA'] / df_participacao['2024 - Valor US$ FOB']

In [16]:
df_participacao.sort_values(by='Participação USA', ascending=False, inplace=True)

In [18]:
df_participacao.head(10)

,Código SH4,Descrição SH4,2024 - Valor US$ FOB,Valor FOB USA,Participação USA
1045,3706,Filmes cinematográficos impressionados e revel...,1000,1000,1.000000
1050,5904,"Linóleos, mesmo recortados; revestimentos para...",45,45,1.000000
1049,3704,"Chapas, filmes, papéis, cartões e têxteis, fot...",160,160,1.000000
1017,502,Cerdas de porco ou de javali; pêlos de texugo ...,27852,27845,0.999749
980,905,Baunilha,124591,124211,0.996950
757,9601,"Marfim, osso, carapaça de tartaruga, chifre, p...",2042584,2016505,0.987232
1043,9705,"Coleções e espécimes para coleções, de zoologi...",2012,1962,0.975149
1034,5403,Fios de filamentos artificiais (exceto linhas ...,9387,9118,0.971343
819,9706,Antiguidades com mais de 100 anos,1220717,1183231,0.969292
483,8472,Outras máquinas e aparelhos de escritório [por...,16510918,15918683,0.964131