In [1]:
import pandas as pd

## Carregamento das bases de dados utilizadas

In [30]:
exportacao_geral = pd.read_excel('./dados/comex/Exportacao Mundo 2024 NCM.xlsx')

In [31]:
exportacao_geral.head()

,Código NCM,Descrição NCM,2024 - Valor US$ FOB
0,27090010,Óleos brutos de petróleo,44963878520
1,12019000,"Soja, mesmo triturada, exceto para semeadura",42941894470
2,26011100,"Minérios de ferro e seus concentrados, exceto ...",26574698749
3,17011400,Outros açúcares de cana,15925320657
4,9011110,"Café não torrado, não descafeinado, em grão",11331933183

In [150]:
exportacao_geral['Código NCM'] = exportacao_geral['Código NCM'].astype(str)
exportacao_geral['Código NCM'] = exportacao_geral['Código NCM'].str.zfill(8)

In [151]:
exportacao_usa = pd.read_excel('./dados/comex/Exportacao EUA 2024 NCM.xlsx')

In [152]:
exportacao_usa.head(2)

,Código NCM,Descrição NCM,2024 - Valor US$ FOB
0,27090010,Óleos brutos de petróleo,5830983860
1,72071200,Outros produtos semimanufaturados de ferro ou ...,2774470802

In [90]:
exportacao_usa.dtypes

Código NCM               int64
Descrição NCM           object
2024 - Valor US$ FOB     int64
dtype: object

In [153]:
exportacao_usa['Código NCM'] = exportacao_usa['Código NCM'].astype(str)
exportacao_usa['Código NCM'] = exportacao_usa['Código NCM'].str.zfill(8)

In [154]:
exportacao_mip = pd.read_excel('./dados/mip/68_tab2_2019.xls',skiprows=3,skipfooter=2,sheet_name='demanda')

In [155]:
exportacao_mip = exportacao_mip.loc[1:,exportacao_mip.columns[0:3]]

exportacao_mip = exportacao_mip.rename(columns={exportacao_mip.columns[0] : 'cod_prod_scn', exportacao_mip.columns[1] : 'prod_scn', exportacao_mip.columns[2] : 'demanda_exportacao_scn'})

In [156]:
exportacao_mip['cod_prod_scn'] = exportacao_mip['cod_prod_scn'].astype(int).astype(str).str.zfill(5)

In [119]:
exportacao_mip.head(2)

  cod_prod_scn                       prod_scn  demanda_exportacao_scn
1        01911  Arroz, trigo e outros cereais                   764.0
2        01912                  Milho em grão                 29053.0

In [157]:
tradutor_ncm = pd.read_excel('./dados/mip/TradutorNCM.xls')

In [158]:
tradutor_ncm = tradutor_ncm.rename(columns={'Código Produto': 'cod_prod_scn', 'Descrição Produto': 'prod_scn', 'Código NCM': 'cod_ncm', 'Nome NCM' : 'desc_ncm'})
tradutor_ncm['cod_prod_scn'] = tradutor_ncm['cod_prod_scn'].astype(int).astype(str).str.zfill(5)
tradutor_ncm['cod_ncm'] = tradutor_ncm['cod_ncm'].astype(str).str.zfill(8)
tradutor_ncm.head(2)

,cod_ncm,desc_ncm,cod_prod_scn,prod_scn
0,01011010,Cavalos reprodutores de raça pura,01921,"Bovinos e outros animais vivos, prods. animal,..."
1,01011090,"Animais da espécie asinina/muar, reprodutores,...",01921,"Bovinos e outros animais vivos, prods. animal,..."

### Verificação de eventuais NCM's faltantes em produtos do SCN aos quais foram exportados

In [159]:
exportacao_mip_mapeado_ncm = exportacao_mip.merge(tradutor_ncm.drop(columns=['prod_scn'],axis=1), on='cod_prod_scn', how='left')

exportacao_mip_mapeado_ncm.loc[exportacao_mip_mapeado_ncm['cod_ncm'].isna(),:]

,cod_prod_scn,prod_scn,demanda_exportacao_scn,cod_ncm,desc_ncm
383,01922,Leite de vaca e de outros animais,0.0,NaN,NaN
3487,19912,Gasoálcool,0.0,NaN,NaN
3493,19915,Diesel - biodiesel,0.0,NaN,NaN
11813,33001,"Manutenção, reparação e instalação de máquinas...",1885.0,NaN,NaN
11821,41801,Edificações,242.0,NaN,NaN
11822,41802,Obras de infra-estrutura,0.0,NaN,NaN
11823,41803,Serviços especializados para construção,3596.0,NaN,NaN
11824,45001,Comércio e reparação de veículos,215.0,NaN,NaN
11826,49001,Transporte terrestre de carga,1246.0,NaN,NaN
11827,49002,Transporte terrestre de passageiros,713.0,NaN,NaN
11828,50001,Transporte aquaviário,7445.0,NaN,NaN
11830,52801,Armazenamento e serviços auxiliares aos transp...,12488.0,NaN,NaN
11831,52802,Correio e outros serviços de entrega,498.0,NaN,NaN
11832,55001,Serviços de alojamento em hotéis e similares,7947.0,NaN,NaN
11862,61001,"Telecomunicações, TV por assinatura e outros s...",1797.0,NaN,NaN
11863,62801,Desenvolvimento de sistemas e outros serviços ...,8368.0,NaN,NaN
11864,64801,"Intermediação financeira, seguros e previdênci...",7640.0,NaN,NaN
11865,68001,Aluguel efetivo e serviços imobiliários,4158.0,NaN,NaN
11866,68002,Aluguel imputado,0.0,NaN,NaN
11867,69801,"Serviços jurídicos, contabilidade e consultoria",15438.0,NaN,NaN
11868,71801,Pesquisa e desenvolvimento,0.0,NaN,NaN
11870,73801,Publicidade e outros serviços técnicos,4483.0,NaN,NaN
11872,78801,Condomínios e serviços para edifícios,2814.0,NaN,NaN
11873,78802,Outros serviços administrativos,4810.0,NaN,NaN
11874,80001,"Serviços de vigilância, segurança e investigação",0.0,NaN,NaN
11875,84001,Serviços coletivos da administração pública,0.0,NaN,NaN
11876,84002,Serviços de previdência e assistência social,0.0,NaN,NaN
11877,85911,Educação pública,0.0,NaN,NaN
11878,85921,Educação privada,83.0,NaN,NaN
11879,86911,Saúde pública,0.0,NaN,NaN
11880,86921,Saúde privada,443.0,NaN,NaN
11906,94801,"Organizações patronais, sindicais e outros ser...",0.0,NaN,NaN
11907,94802,"Manutenção de computadores, telefones e objeto...",0.0,NaN,NaN
11908,94803,Serviços pessoais,0.0,NaN,NaN
11909,97001,Serviços domésticos,0.0,NaN,NaN

Verificou-se que apenas os setores de serviço, além de gasoálcool, leite de vaca e outros animais e Diesel- Biodiesel não fazem parte da lista de mapeamento.

## Verificar NCM's que não fazem parte das exportações dos Estados Unidos, e mundial, além da participação dessas NCM's nas exportações americanas.

In [160]:
mapeamento_tradutor_exportacao_usa = exportacao_usa.rename(columns={'Código NCM': 'cod_ncm'}).merge(tradutor_ncm[['cod_ncm','cod_prod_scn','prod_scn']], on='cod_ncm', how='outer',indicator=True)

In [161]:
mapeamento_tradutor_exportacao_usa.loc[mapeamento_tradutor_exportacao_usa['_merge'] == 'left_only',:]

,cod_ncm,Descrição NCM,2024 - Valor US$ FOB,cod_prod_scn,prod_scn,_merge
106,02071411,"Peitos não desossados de galinha, comestíveis,...",61.0,NaN,NaN,left_only
107,02071412,Coxas com sobrecoxas não desossadas de galinha...,33495.0,NaN,NaN,left_only
108,02071422,"Peitos desossados de galinha, comestíveis, con...",178.0,NaN,NaN,left_only
109,02071423,"Coxas com sobrecoxas desossadas de galinha, co...",168.0,NaN,NaN,left_only
110,02071429,"Outros pedaços desossados, comestíveis de galo...",69.0,NaN,NaN,left_only
111,02071434,"Pés e patas de galinha, comestíveis, congelados",85.0,NaN,NaN,left_only
5362,38249961,Contrastes para exames de diagnóstico por imag...,18782.0,NaN,NaN,left_only
8275,73151190,Outras correntes de rolos,29419.0,NaN,NaN,left_only
10046,85045010,Outras bobinas de reatância e de auto-indução ...,50818.0,NaN,NaN,left_only
10047,85045090,Outras bobinas de reatância e de auto-indução,8384734.0,NaN,NaN,left_only

In [162]:
mapeamento_tradutor_exportacao_usa.loc[mapeamento_tradutor_exportacao_usa['_merge'] == 'both','prod_scn'].nunique()

84

In [163]:
mapeamento_tradutor_exportacao_usa.loc[mapeamento_tradutor_exportacao_usa['_merge'] == 'right_only','prod_scn'].nunique()

91

In [164]:
mapeamento_tradutor_exportacao_geral = exportacao_geral.rename(columns={'Código NCM': 'cod_ncm'}).merge(tradutor_ncm[['cod_ncm','cod_prod_scn','prod_scn']], on='cod_ncm', how='outer',indicator=True)

In [165]:
mapeamento_tradutor_exportacao_geral.loc[mapeamento_tradutor_exportacao_geral['_merge'] == 'left_only',:]

,cod_ncm,Descrição NCM,2024 - Valor US$ FOB,cod_prod_scn,prod_scn,_merge
106,02071411,"Peitos não desossados de galinha, comestíveis,...",38229512.0,NaN,NaN,left_only
107,02071412,Coxas com sobrecoxas não desossadas de galinha...,165424182.0,NaN,NaN,left_only
108,02071413,"Asas não desossadas de galinha, comestíveis, c...",379641016.0,NaN,NaN,left_only
109,02071419,"Outros pedaços e miudezas não desossados, come...",115917319.0,NaN,NaN,left_only
110,02071421,"Peitos, coxas e sobrecoxas, formando uma só pe...",112050732.0,NaN,NaN,left_only
111,02071422,"Peitos desossados de galinha, comestíveis, con...",996273208.0,NaN,NaN,left_only
112,02071423,"Coxas com sobrecoxas desossadas de galinha, co...",449281360.0,NaN,NaN,left_only
113,02071424,"Carne mecanicamente separada de galinha, desos...",92936237.0,NaN,NaN,left_only
114,02071429,"Outros pedaços desossados, comestíveis de galo...",27784205.0,NaN,NaN,left_only
115,02071431,"Fígados de galinha, comestíveis, congelados",6963253.0,NaN,NaN,left_only
116,02071432,"Moelas de galinha, comestíveis, congelados",25733695.0,NaN,NaN,left_only
117,02071433,"Corações de galinha, comestíveis, congelados",2238.0,NaN,NaN,left_only
118,02071434,"Pés e patas de galinha, comestíveis, congelados",236492695.0,NaN,NaN,left_only
119,02071439,"Outras miudezas de galinha, comestíveis, conge...",20858909.0,NaN,NaN,left_only
532,03052010,"Ovas de tainhas (Mugil spp.) de peixes, secos,...",102.0,NaN,NaN,left_only
1920,27109120,Outros resíduos de óleos que contenham terfeni...,123.0,NaN,NaN,left_only
4780,32071020,"Suspensão de pigmentos em solventes orgânicos,...",1044006.0,NaN,NaN,left_only
5373,38249961,Contrastes para exames de diagnóstico por imag...,942158.0,NaN,NaN,left_only
5374,38249969,Outros contrastes para exames de diagnóstico p...,4277.0,NaN,NaN,left_only
5496,39069053,"Carboxipolimetileno, em pó",71980.0,NaN,NaN,left_only
5497,39069054,"Poli(acrilato de sódio), com capacidade de abs...",1265837.0,NaN,NaN,left_only
5498,39069059,"Outros polímeros acrílicos, em blocos irregula...",30292.0,NaN,NaN,left_only
5499,39069063,"Copolímero de acrilato de etila, acrilato de n...",75914.0,NaN,NaN,left_only
5500,39069065,"Copolímero de acrilamida e acrilato de sódio, ...",49755.0,NaN,NaN,left_only
5501,39069069,Outros copolímeros,806651.0,NaN,NaN,left_only
6398,48119020,"Outros papéis, cartões, pasta (ouate) de celul...",120538.0,NaN,NaN,left_only
8294,73151190,Outras correntes de rolos,1018373.0,NaN,NaN,left_only
10065,85045010,Outras bobinas de reatância e de auto-indução ...,293123.0,NaN,NaN,left_only
10066,85045090,Outras bobinas de reatância e de auto-indução,18080524.0,NaN,NaN,left_only

In [166]:
mapeamento_tradutor_exportacao_geral.loc[mapeamento_tradutor_exportacao_geral['_merge'] == 'both','prod_scn'].nunique()

89

In [171]:
lista_produtos_mapeados = mapeamento_tradutor_exportacao_geral.loc[mapeamento_tradutor_exportacao_geral['_merge'] == 'both','cod_prod_scn'].unique()

In [174]:
tradutor_ncm.query('cod_prod_scn  not in @lista_produtos_mapeados')

,cod_ncm,desc_ncm,cod_prod_scn,prod_scn
11861,99930000,"Comércio de combustíveis de panol, apetrechos,...",46801,"Comércio por atacado e a varejo, exceto veícul..."
11863,99950000,Mercadorias em arrendamento não financeiro,77001,Aluguéis não-imob. e gestão de ativos de propr...
11864,99960000,Bagagem (provenientes de mudanças),51001,Transporte aéreo
11868,99980201,Consumo de bordo - qualquer outra mercadoria p...,56001,Serviços de alimentação
11869,99980202,Consumo de bordo - qualquer outra mercadoria p...,56001,Serviços de alimentação

array(['01921', '01923', '01924', '10911', '10912', '10913', '02802',
       '10914', '10915', '10916', '10937', '31802', '01916', '01919',
       '01914', '01918', '02801', '10931', '01917', '10933', '01911',
       '01912', '10934', '10935', '11001', '01915', '01913', '10932',
       '13001', '20922', '20931', '10921', '19921', '10936', '12001',
       '05802', '23003', '23001', '07911', '07921', '24912', '24921',
       '05801', '19916', '20913', '06801', '19913', '19911', '19914',
       '35001', '20911', '21001', '20923', '20921', '22002', '36801',
       '20912', '23002', '20914', '16001', '14001', '22001', '15001',
       '17001', '17002', '58001', '71802', '18001', '90801', '13002',
       '13003', '27002', '24911', '25001', '28003', '24922', '30001',
       '29911', '29912', '29921', '28001', '28002', '26002', '26001',
       '27001', '26003', '26004', '59801', '31801'], dtype=object)

In [167]:

mapeamento_tradutor_exportacao_geral.loc[mapeamento_tradutor_exportacao_geral['_merge'] == 'right_only','prod_scn'].nunique()

83

In [ ]:

ncms_exp_usa = exportacao_usa['Código NCM'].unique().tolist()

In [94]:
ncms_exp_usa

['27090010',
 '72071200',
 '9011110',
 '47032900',
 '72011000',
 '88024090',
 '27101259',
 '88023039',
 '2023000',
 '72249000',
 '20091200',
 '84291190',
 '84295199',
 '17011400',
 '68029990',
 '16025000',
 '27101911',
 '28182010',
 '26011210',
 '44091000',
 '44182900',
 '84292090',
 '27101922',
 '85042300',
 '44123900',
 '15021012',
 '88073000',
 '87041090',
 '44071100',
 '28046900',
 '20091900',
 '68029390',
 '40111000',
 '84119100',
 '33011290',
 '20091100',
 '21011110',
 '85042100',
 '17019900',
 '72029300',
 '22071010',
 '24012030',
 '35040090',
 '93062100',
 '73042939',
 '84099912',
 '41071220',
 '93033000',
 '5119999',
 '84099959',
 '47020000',
 '85015310',
 '28183000',
 '81129900',
 '71081210',
 '74092100',
 '84111200',
 '64039990',
 '84819090',
 '84831019',
 '72104910',
 '87089990',
 '72026000',
 '85015210',
 '94035000',
 '76061290',
 '24012040',
 '44092200',
 '97019100',
 '72139110',
 '40112090',
 '94036000',
 '4090000',
 '80011000',
 '79011111',
 '84718000',
 '35030019',
 '84294000',
 '87083090',
 '71081290',
 '74111010',
 '17049020',
 '2013000',
 '76151000',
 '2032900',
 '30051090',
 '29022000',
 '48025610',
 '12019000',
 '18040000',
 '84626300',
 '21069090',
 '29339919',
 '84143011',
 '20098921',
 '40129090',
 '84099112',
 '85021319',
 '73041900',
 '68029100',
 '8045020',
 '69072100',
 '76071190',
 '88072000',
 '85021210',
 '72022100',
 '27131100',
 '48119090',
 '68138190',
 '28259090',
 '8061000',
 '44189900',
 '21022000',
 '27101249',
 '73269090',
 '84099949',
 '84818099',
 '20098990',
 '85030090',
 '96091000',
 '74071010',
 '72024100',
 '3043100',
 '84073490',
 '29012410',
 '90142090',
 '90183220',
 '84314929',
 '3038932',
 '71039900',
 '85362000',
 '29012900',
 '97039000',
 '15180090',
 '3061190',
 '84122110',
 '93032000',
 '64035990',
 '3028990',
 '3038990',
 '71129900',
 '68159110',
 '84839000',
 '40118090',
 '87089483',
 '84099914',
 '87087090',
 '69072300',
 '30042059',
 '15211000',
 '87082999',
 '64029990',
 '85369090',
 '27075090',
 '33019020',
 '20089900',
 '84798999',
 '48115923',
 '85044050',
 '85184000',
 '87019490',
 '90213919',
 '21050010',
 '38151290',
 '84389000',
 '15021011',
 '23011090',
 '87112020',
 '89039900',
 '33059000',
 '27131200',
 '44092900',
 '84553010',
 '44111290',
 '84099969',
 '84831090',
 '22071090',
 '88071000',
 '19053200',
 '84834090',
 '48193000',
 '86079900',
 '33012990',
 '72029990',
 '69072200',
 '84553090',
 '29061930',
 '85443000',
 '44119210',
 '90211010',
 '84335990',
 '28391900',
 '84812090',
 '76011000',
 '72106100',
 '84339090',
 '73082000',
 '13022010',
 '84749000',
 '69109000',
 '72285000',
 '85014019',
 '85371090',
 '73239300',
 '84159090',
 '28211030',
 '9041100',
 '89033200',
 '9101100',
 '64039190',
 '94037000',
 '90184999',
 '25199090',
 '25070010',
 '70191290',
 '48025592',
 '73181500',
 '72091700',
 '84335100',
 '84139190',
 '48030090',
 '87019300',
 '84833029',
 '20097900',
 '84089090',
 '87084090',
 '35040019',
 '84729010',
 '28253010',
 '85444900',
 '72083890',
 '84834010',
 '85176259',
 '39269090',
 '87088000',
 '90189099',
 '44111410',
 '29023000',
 '90149000',
 '90041000',
 '20093900',
 '29031990',
 '94016100',
 '72072000',
 '84212300',
 '40169300',
 '84742090',
 '48139000',
 '3032300',
 '82075011',
 '68022900',
 '85269100',
 '30049069',
 '39023000',
 '40051090',
 '72071110',
 '10063021',
 '29161110',
 '71031000',
 '72091600',
 '87085099',
 '39202019',
 '39206219',
 '29171210',
 '84099120',
 '40169990',
 '85444200',
 '76020000',
 '73052000',
 '74091900',
 '39199020',
 '39201099',
 '85437099',
 '44219900',
 '94039100',
 '84571000',
 '38069019',
 '39129031',
 '82013000',
 '21050090',
 '8013200',
 '39011030',
 '19052010',
 '85045000',
 '44123300',
 '85042200',
 '84244900',
 '38069011',
 '44130000',
 '84329000',
 '18050000',
 '76149010',
 '44111210',
 '43021990',
 '56072100',
 '76141010',
 '41079210',
 '84295212',
 '71081310',
 '39022000',
 '71039100',
 '69021018',
 '44111399',
 '29012420',
 '48025793',
 '84219999',
 '82011000',
 '75089090',
 '39122029',
 '11081400',
 '84283990',
 '85312000',
 '44111310',
 '85389090',
 '82073000',
 '15012000',
 '23099090',
 '71162090',
 '72082790',
 '8012200',
 '21012020',
 '29224990',
 '84099929',
 '20093100',
 '39232190',
 '84798290',
 '85171300',
 '85043300',
 '85361000',
 '2102000',
 '84133090',
 '97012100',
 '86071990',
 '13021999',
 '36036000',
 '33011300',
 '29053910',
 '84068100',
 '28492000',
 '7143000',
 '82074010',
 '84264990',
 '39012029',
 '3038910',
 '71131900',
 '64041900',
 '85241900',
 '29011000',
 '90328990',
 '44072990',
 '90318099',
 '35051000',
 '64035190',
 '23012010',
 '19053100',
 '44187500',
 '84145990',
 '15159090',
 '72083990',
 '68030000',
 '18069000',
 '15081000',
 '85045090',
 '84109000',
 '3024700',
 '37013021',
 '84678100',
 '48202000',
 '84179000',
 '39249000',
 '73259990',
 '41044130',
 '90262010',
 '84733041',
 '82019000',
 '85021110',
 '48102990',
 '72281090',
 '84122190',
 '29389090',
 '72024900',
 '29419039',
 '11081200',
 '44187900',
 '40021919',
 '38051000',
 '82031010',
 '29333929',
 '64022000',
 '11062000',
 '48041900',
 '28181090',
 '34023990',
 '72193300',
 '74072910',
 '64042000',
 '22021000',
 '40082100',
 '72083700',
 '49019900',
 '29241999',
 '72283000',
 '19049000',
 '44119290',
 '40027000',
 '40025900',
 '84049090',
 '82022000',
 '85016200',
 '20094900',
 '90031100',
 '94034000',
 '28030019',
 '44151000',
 '3023400',
 '85321000',
 '29161230',
 '29091990',
 '85365090',
 '90212110',
 '39123111',
 '90328929',
 '85462000',
 '85322200',
 '38151210',
 '48194000',
 '10063011',
 '29232000',
 '11063000',
 '44079990',
 '20079990',
 '22089000',
 '21069030',
 '17029000',
 '73202010',
 '20098912',
 '30049079',
 '84082090',
 '68109900',
 '85235210',
 '44111490',
 '25301090',
 '85322590',
 '40114000',
 '84141000',
 '30049055',
 '25010011',
 '84198999',
 '90328982',
 '73181600',
 '72221100',
 '39219019',
 '24013000',
 '68022300',
 '30049099',
 '84099190',
 '85015110',
 '72142000',
 '81041100',
 '76072000',
 '84369900',
 '19059090',
 '84133020',
 '33051000',
 '84418000',
 '29329999',
 '85176241',
 '76169900',
 '38249989',
 '84626100',
 '44129900',
 '85291090',
 '26011100',
 '84099979',
 '29161420',
 '72125090',
 '9012100',
 '29225099',
 '84135010',
 '87112010',
 '84136090',
 '71171900',
 '38061000',
 '84626200',
 '87084080',
 '85176234',
 '39206299',
 '73089090',
 '30061090',
 '90262090',
 '48025599',
 '84811000',
 '72085100',
 '84821010',
 '84831020',
 '75051210',
 '73110000',
 '28332520',
 '85016300',
 '74072110',
 '84669490',
 '30042029',
 '72023000',
 '39100019',
 '38249929',
 '90261019',
 '90183929',
 '44170090',
 '29221100',
 '73182900',
 '84314910',
 '26060012',
 '85423190',
 '84122900',
 '84778090',
 '72082690',
 '84212990',
 '64059000',
 '29144010',
 '84186940',
 '84099999',
 '24031900',
 '85285900',
 '85113020',
 '85359090',
 '84149039',
 '70071100',
 '33019030',
 '90279099',
 '84099114',
 '84814000',
 '29419083',
 '25041000',
 '48116010',
 '90328911',
 '39069019',
 '90183219',
 '84799090',
 '39095011',
 '85261000',
 '22029900',
 '4029900',
 '72230000',
 '85351000',
 '94019900',
 '4061090',
 '39031900',
 '85016400',
 '84082030',
 '68159990',
 '7133399',
 '39100012',
 '85177900',
 '84399910',
 '84824000',
 '84825010',
 '42060000',
 '38029090',
 '84502090',
 '29337990',
 '94032090',
 '30049059',
 '44123400',
 '38089199',
 '29024100',
 '39094019',
 '84829990',
 '85176249',
 '29102000',
 '85176130',
 '32081010',
 '8119000',
 '90183999',
 '39259090',
 '73158900',
 '12119090',
 '84283910',
 '48059100',
 '3023200',
 '84249090',
 '90251990',
 '85118090',
 '84129080',
 '85371020',
 '38231990',
 '73262000',
 '30021229',
 '84198190',
 '30061010',
 '12099100',
 '84224090',
 '4089100',
 '29021990',
 '87083019',
 '19012010',
 '42050000',
 '85364900',
 '84705010',
 '22084000',
 '18032000',
 '1012900',
 '29335929',
 '19012090',
 '84779000',
 '39173900',
 '40149090',
 '84717040',
 '85111000',
 '84295219',
 '94039900',
 '73251000',
 '74130000',
 '17049090',
 '44029000',
 '61124100',
 '73202090',
 '78011011',
 '84833090',
 '90142010',
 '21061000',
 '38160011',
 '87019590',
 '29359019',
 '39235000',
 '84244100',
 '84213990',
 '87163900',
 '80030000',
 '84304120',
 '85182100',
 '44072200',
 '59119000',
 '90181300',
 '84773090',
 '84148038',
 '44071300',
 '61151021',
 '16030000',
 '90328925',
 '33049990',
 '8072000',
 '82119100',
 '84381000',
 '53089000',
 '96020010',
 '39079100',
 '38011000',
 '90230000',
 '94011090',
 '90328989',
 '84313190',
 '35069190',
 '23091000',
 '12089000',
 '74082100',
 '39075010',
 '29021910',
 '90015000',
 '75030000',
 '84807100',
 '39095019',
 '48132000',
 '38249985',
 '87089300',
 '29061990',
 '84199039',
 '19030000',
 '93059090',
 '19021100',
 '90261029',
 '84112100',
 '84798190',
 '20041000',
 '9030090',
 '87032290',
 '39219011',
 '84148011',
 '84835010',
 '38160019',
 '72149910',
 '29141200',
 '72091800',
 '84314100',
 '87082919',
 '85013110',
 '84195010',
 '84661000',
 '95044000',
 '84149020',
 '40117090',
 '85119000',
 '60053700',
 '85446000',
 '19021900',
 '44129100',
 '90229091',
 '84649090',
 '29029040',
 '90148090',
 '84071000',
 '28399090',
 '88022010',
 '84818021',
 '38013010',
 '85163200',
 '29153100',
 '20071000',
 '28112230',
 '82077020',
 '84195090',
 '85177190',
 '85044090',
 '39172900',
 '85015320',
 '94016900',
 '84091000',
 '20089710',
 '85439090',
 '60041032',
 '21039091',
 '29329912',
 '24011090',
 '27101921',
 '20081900',
 '29181400',
 '3025900',
 '4015029',
 '44123100',
 '74091100',
 '84068200',
 '70023200',
 '73259910',
 '44124900',
 '84818092',
 '84148012',
 '30051010',
 '33011990',
 '38221990',
 '84313110',
 '15152100',
 '8134090',
 '90259090',
 '20019000',
 '84733042',
 '38059090',
 '90271000',
 '85469000',
 '19019090',
 '39094091',
 '72193400',
 '38249979',
 '29052990',
 '32030019',
 '90189095',
 '84186999',
 '84581199',
 '39069039',
 '73079200',
 '94017100',
 '28276019',
 '44071900',
 '84542010',
 '36033000',
 '84099961',
 '44101110',
 '85364100',
 '38030090',
 '72083910',
 '38112130',
 '84818096',
 '84099116',
 '96019000',
 '68042211',
 '95069900',
 '84559000',
 '48191000',
 '19041000',
 '81019700',
 '82111000',
 '84832000',
 '68141000',
 '73043990',
 '5040011',
 '85023900',
 '28491000',
 '90184919',
 '90181990',
 '39072939',
 '89071000',
 '84748090',
 '84149034',
 '19054000',
 '84715010',
 '34029029',
 '3063100',
 '44072300',
 '88021100',
 '44199000',
 '87169090',
 '82159910',
 '84199090',
 '82014000',
 '72169100',
 '20081100',
 '84148021',
 '72085200',
 '29159021',
 '18063210',
 '82119210',
 '85049040',
 '90269090',
 '85198120',
 '84821090',
 '39199090',
 '85143900',
 '29173500',
 '69032090',
 '73181900',
 '47031900',
 '10051000',
 '94033000',
 '32030030',
 '84195021',
 '85044030',
 '84717010',
 '59032000',
 '84813000',
 '84322100',
 '73121090',
 '1012100',
 '87089510',
 '90181980',
 '48101399',
 '38099390',
 '90329099',
 '21039021',
 '31055900',
 '84283300',
 '84041010',
 '84362900',
 '27101229',
 '28417020',
 '88079000',
 '90189091',
 '39076100',
 '38159010',
 '84733049',
 '96039000',
 '28352600',
 '84313900',
 '90261011',
 '84289090',
 '84713012',
 '84136011',
 '84133030',
 '28211020',
 '29335944',
 '84431990',
 '72189900',
 '84842000',
 '85114000',
 '31059090',
 '28299032',
 '85241100',
 '69074000',
 '12129300',
 '84715090',
 '48115129',
 '71023100',
 '84439933',
 '85235190',
 '39013090',
 '3049900',
 '84715020',
 '83071090',
 '73042400',
 '40119090',
 '39021020',
 '44072920',
 '85023100',
 '28253090',
 '21021090',
 '12077010',
 '84137010',
 '84741000',
 '20089100',
 '72042100',
 '68069090',
 '84669320',
 '71069220',
 '39174090',
 '73045910',
 '90200090',
 '85073019',
 '43039000',
 '85235290',
 '27075010',
 '90185090',
 '73102190',
 '69022099',
 '74112110',
 '39269040',
 '90269020',
 '85176215',
 '84502020',
 '63026000',
 '20083000',
 '90289010',
 '85013120',
 '84099113',
 '8012100',
 '84359000',
 '72143000',
 '90219080',
 '73079900',
 '84137090',
 '44152000',
 '84312011',
 '41139000',
 '84149010',
 '73182200',
 '40059190',
 '90278999',
 '23080000',
 '85372090',
 '85016100',
 '25062000',
 '73261900',
 '84836090',
 '84186910',
 '38069090',
 '92099200',
 '39239090',
 '90223000',
 '72083690',
 '94017900',
 '56031240',
 '33049910',
 '85319000',
 '42022210',
 '84385000',
 '84229090',
 '84743900',
 '39076900',
 '42010090',
 '23011010',
 '85395100',
 '53091900',
 '84371000',
 '85176262',
 '85129000',
 '84323110',
 '29051420',
 '10071000',
 '85043119',
 '90268000',
 '84383000',
 '29242992',
 '90329010',
 '20052000',
 '90211020',
 '85076000',
 '90275090',
 '95045000',
 '72132000',
 '68052000',
 '84314390',
 '90181210',
 '85256090',
 '3048990',
 '29161410',
 '85176229',
 '85441919',
 '8071100',
 '83024900',
 '38159099',
 '84392000',
 '19019020',
 '87042190',
 '70109090',
 '68151900',
 '84825090',
 '34024200',
 '85013210',
 '21069010',
 '15050010',
 '30064011',
 '40093100',
 '39252000',
 '40082900',
 '39111029',
 '85309000',
 '87141000',
 '3027100',
 '84029000',
 '84149031',
 '33052000',
 '85115090',
 '94038900',
 '90031910',
 ...]

In [77]:
len(ncms_exp_usa)

5035

In [78]:
mapeamento = pd.read_excel('./dados/mapeamento/PRODLIST Ind 2022 x NCM 2022.xlsx')

Verificar NCM's que pertencem a mais de uma Prodlist e se isso representa um problema para o mapeamento para o SCN ( Mais de um produto ou serviço)

In [79]:
mapeamento['prodlist 6d'] = mapeamento['PRODLIST-Ind 2022'].str[0:7]
mapeamento['prodlist 4d'] = mapeamento['PRODLIST-Ind 2022'].str[0:4]
mapeamento['prodlist 2d'] = mapeamento['PRODLIST-Ind 2022'].str[0:2]

In [82]:
mapeamento['NCM'] = mapeamento['NCM 2022 (SET/2022)'].str.replace('.', '')

In [97]:
mapeamento = mapeamento.loc[mapeamento['NCM'].isin(ncms_exp_usa), :]

In [98]:

analise_mapeamento = mapeamento.groupby('NCM').nunique()['prodlist 6d'].reset_index()

lista_ncms_mais_1_prodlist = analise_mapeamento.loc[analise_mapeamento['prodlist 6d'] > 1, :].sort_values('prodlist 6d', ascending=False)['NCM'].to_list()


mapeamento_varias_prodlist = mapeamento.loc[mapeamento['NCM'].isin(lista_ncms_mais_1_prodlist), :]

In [102]:
analise_mapeamento.sort_values('prodlist 6d', ascending=False).head(10)

           NCM  prodlist 6d
4108  87089990            7
2744  76169900            6
1218  39269090            5
731   30049069            5
2751  79070090            5
233   21069090            5
2756  80070090            5
2699  75089090            5
2397  72044900            4
2773  81129900            4

In [99]:
mapeamento_varias_prodlist

,PRODLIST-Ind 2022,NCM 2022 (SET/2022),prodlist 6d,prodlist 4d,prodlist 2d,NCM
59,0810.2090,2508.40.90,0810.20,0810,08,25084090
63,0810.2130,2517.10.00,0810.21,0810,08,25171000
64,0810.2140,2521.00.00,0810.21,0810,08,25210000
65,0810.2150,2507.00.10,0810.21,0810,08,25070010
79,0810.2250,2517.10.00,0810.22,0810,08,25171000
...,...,...,...,...,...,...
12270,3299.2350,8306.21.00,3299.23,3299,32,83062100
12271,3299.2350,8306.29.00,3299.23,3299,32,83062900
12279,3520.2020,2711.29.90,3520.20,3520,35,27112990
12280,3520.2030,2711.29.90,3520.20,3520,35,27112990
12281,3600.2010,2201.90.00,3600.20,3600,36,22019000

In [100]:
mapeamento_varias_prodlist.to_excel('./dados/mapeamento/Mapeamento NCMs - Várias Prodlist- USA.xlsx', index=False)

In [69]:
mapeamento_varias_prodlist.groupby('NCM 2022 (SET/2022)')['prodlist 4d'].count()

NCM 2022 (SET/2022)
0201.30.00    2
0203.12.00    2
0203.19.00    2
0203.22.00    2
0203.29.00    2
             ..
9603.29.00    2
9603.90.00    5
9613.80.00    2
9619.00.00    3
Vazio         2
Name: prodlist 4d, Length: 1623, dtype: int64

In [66]:
mapeamento

      PRODLIST-Ind 2022 NCM 2022 (SET/2022) prodlist 6d prodlist 4d
0             0500.2010          2701.19.00     0500.20        0500
1             0500.2030          2701.11.00     0500.20        0500
2             0500.2030          2701.12.00     0500.20        0500
3             0500.2030          2701.19.00     0500.20        0500
4             0500.2030          2702.10.00     0500.20        0500
...                 ...                 ...         ...         ...
12277         3520.2020          2711.21.00     3520.20        3520
12278         3520.2020          2711.29.10     3520.20        3520
12279         3520.2020          2711.29.90     3520.20        3520
12280         3520.2030          2711.29.90     3520.20        3520
12281         3600.2010          2201.90.00     3600.20        3600

[12282 rows x 4 columns]

In [36]:
mapeamento['NCM'] = mapeamento['NCM 2022 (SET/2022)'].str.replace('.', '', regex=False)

In [42]:
mapeamento.shape

(12282, 3)

In [26]:
mapeamento['prodlist 4d'] = mapeamento['PRODLIST-Ind 2022'].str[0:4]
mapeamento['NCM 6d'] = mapeamento['NCM 2022 (SET/2022)'].str[0:7]

In [27]:
mapeamento.head()

  PRODLIST-Ind 2022 NCM 2022 (SET/2022) prodlist 6d   NCM 6d prodlist 4d
0         0500.2010          2701.19.00        0500  2701.19        0500
1         0500.2030          2701.11.00        0500  2701.11        0500
2         0500.2030          2701.12.00        0500  2701.12        0500
3         0500.2030          2701.19.00        0500  2701.19        0500
4         0500.2030          2702.10.00        0500  2702.10        0500

In [28]:
mapeamento[['prodlist 4d', 'NCM 6d']].groupby('NCM 6d').nunique().sort_values('prodlist 4d', ascending=False)

         prodlist 4d
NCM 6d
3824.99            7
8708.99            6
7616.99            6
2106.90            6
7907.00            5
...              ...
4005.20            1
4005.10            1
4004.00            1
4003.00            1
4008.11            1

[5218 rows x 1 columns]

In [29]:
mapeamento.loc[mapeamento['NCM 6d'] == '3824.99',:].drop_duplicates()

     PRODLIST-Ind 2022 NCM 2022 (SET/2022) prodlist 6d   NCM 6d prodlist 4d
1148         1099.2010          3824.99.11        1099  3824.99        1099
1149         1099.2010          3824.99.12        1099  3824.99        1099
1150         1099.2010          3824.99.13        1099  3824.99        1099
1151         1099.2010          3824.99.14        1099  3824.99        1099
1152         1099.2010          3824.99.15        1099  3824.99        1099
...                ...                 ...         ...      ...         ...
6255         2099.2175          3824.99.85        2099  3824.99        2099
6256         2099.2175          3824.99.87        2099  3824.99        2099
6257         2099.2175          3824.99.88        2099  3824.99        2099
6258         2099.2175          3824.99.89        2099  3824.99        2099
6294         2099.2210          3824.99.22        2099  3824.99        2099

[140 rows x 5 columns]

In [13]:
df_participacao = exportacao_geral.copy().merge(exportacao_usa.copy().drop(['Descrição SH4','Países'],axis=1).rename(columns={'2024 - Valor US$ FOB': 'Valor FOB USA'}), on='Código SH4')

In [14]:
df_participacao['Participação USA'] = df_participacao['Valor FOB USA'] / df_participacao['2024 - Valor US$ FOB']

In [16]:
df_participacao.sort_values(by='Participação USA', ascending=False, inplace=True)

In [18]:
df_participacao.head(10)

,Código SH4,Descrição SH4,2024 - Valor US$ FOB,Valor FOB USA,Participação USA
1045,3706,Filmes cinematográficos impressionados e revel...,1000,1000,1.000000
1050,5904,"Linóleos, mesmo recortados; revestimentos para...",45,45,1.000000
1049,3704,"Chapas, filmes, papéis, cartões e têxteis, fot...",160,160,1.000000
1017,502,Cerdas de porco ou de javali; pêlos de texugo ...,27852,27845,0.999749
980,905,Baunilha,124591,124211,0.996950
757,9601,"Marfim, osso, carapaça de tartaruga, chifre, p...",2042584,2016505,0.987232
1043,9705,"Coleções e espécimes para coleções, de zoologi...",2012,1962,0.975149
1034,5403,Fios de filamentos artificiais (exceto linhas ...,9387,9118,0.971343
819,9706,Antiguidades com mais de 100 anos,1220717,1183231,0.969292
483,8472,Outras máquinas e aparelhos de escritório [por...,16510918,15918683,0.964131