In [1]:
import pandas as pd

## Carregamento das bases de dados utilizadas

In [2]:
exportacao_geral = pd.read_excel('./dados/comex/Exportacao Mundo 2024 NCM.xlsx')

In [3]:
exportacao_geral.head()

,Código NCM,Descrição NCM,2024 - Valor US$ FOB
0,27090010,Óleos brutos de petróleo,44963878520
1,12019000,"Soja, mesmo triturada, exceto para semeadura",42941894470
2,26011100,"Minérios de ferro e seus concentrados, exceto ...",26574698749
3,17011400,Outros açúcares de cana,15925320657
4,9011110,"Café não torrado, não descafeinado, em grão",11331933183

In [4]:
exportacao_geral['Código NCM'] = exportacao_geral['Código NCM'].astype(str)
exportacao_geral['Código NCM'] = exportacao_geral['Código NCM'].str.zfill(8)

In [5]:
exportacao_geral['sh6'] = exportacao_geral['Código NCM'].str[:6]

In [6]:
exportacao_geral = exportacao_geral.groupby('sh6')['2024 - Valor US$ FOB'].sum().reset_index()

In [7]:
exportacao_geral.rename(columns={'2024 - Valor US$ FOB': 'exportacao_mundo_2024_USD'}, inplace=True)

In [8]:
exportacao_usa = pd.read_excel('./dados/comex/Exportacao EUA 2024 NCM.xlsx')

In [9]:
exportacao_usa.head(2)

,Código NCM,Descrição NCM,2024 - Valor US$ FOB
0,27090010,Óleos brutos de petróleo,5830983860
1,72071200,Outros produtos semimanufaturados de ferro ou ...,2774470802

In [10]:
exportacao_usa['Código NCM'] = exportacao_usa['Código NCM'].astype(str)
exportacao_usa['Código NCM'] = exportacao_usa['Código NCM'].str.zfill(8)

In [11]:
exportacao_usa['sh6'] = exportacao_usa['Código NCM'].str[:6]
exportacao_usa = exportacao_usa.groupby('sh6')['2024 - Valor US$ FOB'].sum().reset_index()
exportacao_usa.rename(columns={'2024 - Valor US$ FOB': 'exportacao_eua_2024_USD'}, inplace=True)

In [12]:
exportacao_usa.head()

      sh6  exportacao_eua_2024_USD
0  010121                  1713599
1  010129                  3520510
2  010619                      344
3  010620                    24711
4  010639                     1864

In [13]:
exportacao_geral.merge(exportacao_usa, on='sh6', how='left').fillna(0).to_excel('./dados/comex/Exportacao Mundo e EUA 2024 SH6.xlsx', index=False)

In [14]:
ncm_isic = pd.read_csv('./dados/comex/NCM_ISIC (1).csv',sep=';',dtype={'CO_ISIC_CLASSE': str, 'NO_ISIC_CLASSE': str}    )

In [15]:
ncm = pd.read_csv('./dados/comex/NCM (2).csv',sep=';',dtype={'CO_SH6': str, 'CO_ISIC_CLASSE': str})

In [16]:
ncm.head(2)

,CO_NCM,CO_UNID,CO_SH6,CO_PPE,CO_PPI,CO_FAT_AGREG,CO_CUCI_ITEM,CO_CGCE_N3,CO_SIIT,CO_ISIC_CLASSE,CO_EXP_SUBSET,NO_NCM_POR,NO_NCM_ESP,NO_NCM_ING
0,49011000,10,490110,3521.0,3521.0,3.0,89215,322,9000.0,5811,8099.0,"Livros, brochuras e impressos semelhantes, em ...","Libros, folletos, impresos similares, en hojas...","Books, brochures, similar printed papers, in s..."
1,49019100,10,490191,3521.0,3521.0,3.0,89216,322,9000.0,5811,8099.0,"Dicionários e enciclopédias, mesmo em fascículos","Diccionarios y enciclopedias, incluso en fascí...","Dictionaries and encyclopaedias, serial instal..."

In [17]:
ncm[['CO_SH6','CO_ISIC_CLASSE']].drop_duplicates().to_excel('./dados/comex/sh6_ISIC.xlsx', index=False)

In [18]:
ncm[['CO_SH6','CO_ISIC_CLASSE']].drop_duplicates().merge(ncm_isic[['CO_ISIC_CLASSE','NO_ISIC_CLASSE']], on='CO_ISIC_CLASSE', how='left').to_excel('./dados/comex/sh6_ISIC_nome.xlsx', index=False)

In [19]:
ncm_isic.head()

,CO_ISIC_CLASSE,NO_ISIC_CLASSE,NO_ISIC_CLASSE_ING,NO_ISIC_CLASSE_ESP,CO_ISIC_GRUPO,NO_ISIC_GRUPO,NO_ISIC_GRUPO_ING,NO_ISIC_GRUPO_ESP,CO_ISIC_DIVISAO,NO_ISIC_DIVISAO,NO_ISIC_DIVISAO_ING,NO_ISIC_DIVISAO_ESP,CO_ISIC_SECAO,NO_ISIC_SECAO,NO_ISIC_SECAO_ING,NO_ISIC_SECAO_ESP
0,5310,Atividades postais,Postal activities,Atividades postais,531,Atividades postais,Postal activities,Atividades postais,53,Atividades postais e de courier,Postal and courier activities,Atividades postais e de courier,D,Outros Produtos,Other products,Outros Produtos
1,5520,"Parques de campismo, parques recreativos e est...","Camping grounds, recreational vehicle parks an...","Parques de campismo, parques recreativos e est...",552,"Parques de campismo, parques recreativos e est...","Camping grounds, recreational vehicle parks an...","Parques de campismo, parques recreativos e est...",55,Armazenamento,Accommodation,Armazenamento,D,Outros Produtos,Other products,Outros Produtos
2,5811,Publicação de livros,Book publishing,Publicação de livros,581,"Edição de livros, periódicos e outras atividad...","Publishing of books, periodicals and other pub...","Edição de livros, periódicos e outras atividad...",58,Atividades de edição,Publishing activities,Atividades de edição,D,Outros Produtos,Other products,Outros Produtos
3,5812,Publicação de diretórios e listas de discussão,Publishing of directories and mailing lists,Publicação de diretórios e listas de discussão,581,"Edição de livros, periódicos e outras atividad...","Publishing of books, periodicals and other pub...","Edição de livros, periódicos e outras atividad...",58,Atividades de edição,Publishing activities,Atividades de edição,D,Outros Produtos,Other products,Outros Produtos
4,5813,"Publicação de jornais, revistas e periódicos","Publishing of newspapers, journals and periodi...","Publicação de jornais, revistas e periódicos",581,"Edição de livros, periódicos e outras atividad...","Publishing of books, periodicals and other pub...","Edição de livros, periódicos e outras atividad...",58,Atividades de edição,Publishing activities,Atividades de edição,D,Outros Produtos,Other products,Outros Produtos

In [20]:
harmonized = pd.read_excel('./dados/comex/Harmonized Tariff Schedule of the United States (HTSUS) not covered by the action.xlsx')

In [21]:
harmonized['SH6'] = harmonized['HTSUS'].str.replace('.', '', regex=False).str[0:6]

In [22]:
harmonized = harmonized.fillna('')

In [23]:
harmonized.head(2)

,HTSUS,Articles of Civil Aircraft only,Description,SH6
0,0801.21.00,,"Brazil nuts in shell, fresh or dried",080121
1,2008.30.35,,Orange pulp,200830

In [24]:
harmonized[['SH6','Articles of Civil Aircraft only']].to_excel('./dados/comex/HTSUS SH6.xlsx', index=False)

In [25]:
harmonized[['SH6','Articles of Civil Aircraft only']].drop_duplicates()

        SH6 Articles of Civil Aircraft only
0    080121
1    200830
2    200911
3    200912
5    252510
..      ...                             ...
683  940592                               *
684  940599                               *
686  962000                               *
688  980200                               *
692  981800                               *

[379 rows x 2 columns]

In [26]:
expotacoes = harmonized[['SH6','Articles of Civil Aircraft only']].drop_duplicates().merge(exportacao_geral.merge(exportacao_usa, on='sh6', how='left').fillna(0), left_on='SH6',right_on='sh6', how='right')

In [27]:
expotacoes['Articles of Civil Aircraft only'] = expotacoes['Articles of Civil Aircraft only'].fillna('')

In [28]:
expotacoes['Excecao'] = ~expotacoes['SH6'].isnull()

In [29]:
expotacoes.drop(columns=['SH6']).to_excel('./dados/comex/HTSUS SH6 exportacao.xlsx', index=False)

In [ ]:
expotacoe

In [34]:
expotacoes.groupby('Excecao')[['exportacao_eua_2024_USD']].sum()

         exportacao_eua_2024_USD
Excecao
False               2.238307e+10
True                1.798550e+10

In [30]:
expotacoes.drop(columns=['SH6'])

,Articles of Civil Aircraft only,sh6,exportacao_mundo_2024_USD,exportacao_eua_2024_USD,Excecao
0,,010121,3134431,1713599.0,False
1,,010129,5453342,3520510.0,False
2,,010130,311,0.0,False
3,,010190,1406,0.0,False
4,,010221,2483913,0.0,False
...,...,...,...,...,...
4890,,970400,195716,50.0,False
4891,,970510,1962,1962.0,False
4892,,970529,50,0.0,False
4893,,970610,861225,857301.0,False
4894,,970690,359492,325930.0,False

In [31]:
harmonized[['SH6','Articles of Civil Aircraft only']].drop_duplicates().to_excel('./dados/comex/HTSUS SH6.xlsx', index=False)

In [32]:
harmonized[['SH6']].merge(ncm[['CO_SH6','CO_ISIC_CLASSE']], left_on='SH6', right_on='CO_SH6', how='left')

         SH6  CO_SH6 CO_ISIC_CLASSE
0     080121  080121           0125
1     200830  200830           1030
2     200911  200911           1030
3     200912  200912           1030
4     200912  200912           1030
...      ...     ...            ...
2527  980200     NaN            NaN
2528  980200     NaN            NaN
2529  980200     NaN            NaN
2530  981800     NaN            NaN
2531  981800     NaN            NaN

[2532 rows x 3 columns]