## Carregar bibliotecas

In [59]:
import pandas as pd
import numpy as np

# 1. Estimação da MIP

Carregar os dados de produção a preços básicos

In [444]:
producao = pd.read_excel('./dados/51_tab1_2020.xls', sheet_name='producao', skiprows=3,skipfooter=1)
producao = producao.rename(columns={'Unnamed: 0': 'Produtos'})
#Remover a primeira linha
producao = producao.iloc[1:, :]

In [446]:
producao.tail()

,Produtos,Agricultura silvicultura exploração florestal,Pecuária e pesca,Petróleo e gás natural,Minério de ferro,Outros da indústria extrativa,Alimentos e Bebidas,Produtos do fumo,Têxteis,Artigos do vestuário e acessórios,...,Serviços de alojamento e alimentação,Serviços prestados às empresas,Educação mercantil,Saúde mercantil,Serviços prestados às famílias e associativas,Serviços domésticos,Educação pública,Saúde pública,Administração pública e seguridade social,Total
103,Serviços associativos,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,91628.0,0.0,0.0,0.0,0.0,91628.0
104,Serviços domésticos,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,59474.0,0.0,0.0,0.0,59474.0
105,Educação pública,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,369800.0,0.0,0.0,369800.0
106,Saúde pública,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,240892.0,0.0,240892.0
107,Serviço público e seguridade social,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,854589.0,854589.0

Carregar dados de oferta a preços básicos e a preços do consumidor

In [447]:
oferta = pd.read_excel('./dados/51_tab1_2020.xls',skiprows=3,skipfooter=1)
#remover a primeira linha
oferta = oferta.iloc[1:,:]
oferta  = oferta.rename(columns={'Unnamed: 0':'Produtos'})

In [448]:
oferta.head()

,Produtos,Oferta total\na preço\nde consumidor,Margem \nde\ncomércio,Margem\nde\ntransporte,Imposto\nde\nimportação,IPI,ICMS,Outros impostos menos subsídios,Total de impostos líquidos de subsídios,Oferta total\n a preço básico
1,Arroz em casca,13394.0,1672.0,667.0,0.0,0.0,0.0,0.0,0.0,11055.0
2,Milho em grão,82221.0,11087.0,2774.0,0.0,0.0,292.0,244.0,536.0,67824.0
3,Trigo em grão e outros cereais,21916.0,2124.0,789.0,5.0,0.0,51.0,436.0,492.0,18511.0
4,Cana-de-açúcar,67359.0,0.0,3055.0,0.0,0.0,65.0,1314.0,1379.0,62925.0
5,Soja em grão,223255.0,7268.0,3634.0,0.0,0.0,175.0,403.0,578.0,211775.0

Carregar a tabela de demanda

In [449]:
consumo_intermediario = pd.read_excel('./dados/51_tab2_2020.xls', sheet_name='CI', skiprows=3,skipfooter=1)
consumo_intermediario = consumo_intermediario.rename(columns={'Unnamed: 0': 'Produtos'})
#Remover a primeira linha
consumo_intermediario = consumo_intermediario.iloc[1:, :]

In [450]:
consumo_intermediario.head(2)

,Produtos,Agricultura silvicultura exploração florestal,Pecuária e pesca,Petróleo e gás natural,Minério de ferro,Outros da indústria extrativa,Alimentos e Bebidas,Produtos do fumo,Têxteis,Artigos do vestuário e acessórios,...,Serviços de alojamento e alimentação,Serviços prestados às empresas,Educação mercantil,Saúde mercantil,Serviços prestados às famílias e associativas,Serviços domésticos,Educação pública,Saúde pública,Administração pública e seguridade social,Total
1,Arroz em casca,199.0,215.0,0.0,0.0,0.0,11717.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12131.0
2,Milho em grão,2378.0,8217.0,0.0,0.0,0.0,25009.0,0.0,0.0,0.0,...,317.0,0.0,0.0,4.0,0.0,0.0,2.0,2.0,248.0,37290.0

In [451]:
demanda_final = pd.read_excel('./dados/51_tab2_2020.xls', sheet_name='demanda', skiprows=3,skipfooter=1)
demanda_final = demanda_final.rename(columns={'Unnamed: 0': 'Produtos'})

#Remover a primeira linha
demanda_final = demanda_final.iloc[1:, :]
#Remover a primeira coluna
demanda_final = demanda_final.iloc[:, 1:]

In [452]:
demanda_final.head(2)

,Exportação\nde bens,Exportação\nde serviços,Consumo\nda administração pública,Consumo\ndas\n ISFLSF,Consumo \ndas famílias,Formação bruta\nde capital fixo,Variação\nde estoque,Demanda\nfinal,Demanda\ntotal
1,739.0,0.0,0.0,0.0,349.0,0.0,175.0,1263.0,13394.0
2,30981.0,0.0,0.0,0.0,6688.0,0.0,7262.0,44931.0,82221.0

In [453]:
#Zerar a variação de estoques da demanda final
demanda_final['Variação\nde estoque'] = 0

In [454]:
demanda_final

,Exportação\nde bens,Exportação\nde serviços,Consumo\nda administração pública,Consumo\ndas\n ISFLSF,Consumo \ndas famílias,Formação bruta\nde capital fixo,Variação\nde estoque,Demanda\nfinal,Demanda\ntotal
1,739.0,0.0,0.0,0.0,349.0,0.0,0,1263.0,13394.0
2,30981.0,0.0,0.0,0.0,6688.0,0.0,0,44931.0,82221.0
3,561.0,0.0,0.0,0.0,759.0,0.0,0,7291.0,21916.0
4,0.0,0.0,0.0,0.0,1823.0,0.0,0,1823.0,67359.0
5,152952.0,0.0,0.0,0.0,147.0,0.0,0,142189.0,223255.0
...,...,...,...,...,...,...,...,...,...
103,0.0,0.0,0.0,49913.0,33059.0,0.0,0,82972.0,91628.0
104,0.0,0.0,0.0,0.0,59474.0,0.0,0,59474.0,59474.0
105,0.0,0.0,369800.0,0.0,0.0,0.0,0,369800.0,369800.0
106,0.0,0.0,240892.0,0.0,0.0,0.0,0,240892.0,240892.0
107,0.0,0.0,854589.0,0.0,0.0,0.0,0,854589.0,854589.0

In [455]:
#Calcular nova demanda final
demanda_final['Demanda\nfinal'] = demanda_final[demanda_final.columns[0:7]].sum(axis=1)

In [456]:
demanda_final['Demanda\nfinal']

1        1088.0
2       37669.0
3        1320.0
4        1823.0
5      153099.0
         ...
103     82972.0
104     59474.0
105    369800.0
106    240892.0
107    854589.0
Name: Demanda\nfinal, Length: 107, dtype: float64

In [457]:
#Criar um dataframe com a demanda final + consumo intermediário
demanda_total = pd.concat([consumo_intermediario, demanda_final], axis=1)

In [458]:
#Calcular a nova demanda total
demanda_total['Demanda\ntotal'] =demanda_total['Total']+demanda_total['Demanda\nfinal']

In [462]:
demanda_total.head()

,Produtos,Agricultura silvicultura exploração florestal,Pecuária e pesca,Petróleo e gás natural,Minério de ferro,Outros da indústria extrativa,Alimentos e Bebidas,Produtos do fumo,Têxteis,Artigos do vestuário e acessórios,...,Total,Exportação\nde bens,Exportação\nde serviços,Consumo\nda administração pública,Consumo\ndas\n ISFLSF,Consumo \ndas famílias,Formação bruta\nde capital fixo,Variação\nde estoque,Demanda\nfinal,Demanda\ntotal
1,Arroz em casca,199.0,215.0,0.0,0.0,0.0,11717.0,0.0,0.0,0.0,...,12131.0,739.0,0.0,0.0,0.0,349.0,0.0,0,1088.0,13219.0
2,Milho em grão,2378.0,8217.0,0.0,0.0,0.0,25009.0,0.0,0.0,0.0,...,37290.0,30981.0,0.0,0.0,0.0,6688.0,0.0,0,37669.0,74959.0
3,Trigo em grão e outros cereais,312.0,220.0,0.0,0.0,0.0,12764.0,0.0,0.0,0.0,...,14625.0,561.0,0.0,0.0,0.0,759.0,0.0,0,1320.0,15945.0
4,Cana-de-açúcar,951.0,258.0,0.0,0.0,0.0,38556.0,0.0,0.0,0.0,...,65536.0,0.0,0.0,0.0,0.0,1823.0,0.0,0,1823.0,67359.0
5,Soja em grão,3845.0,321.0,0.0,0.0,0.0,59355.0,0.0,0.0,0.0,...,81066.0,152952.0,0.0,0.0,0.0,147.0,0.0,0,153099.0,234165.0

In [463]:
#Carregar a tabela de importacao
importacao = pd.read_excel('./dados/51_tab1_2020.xls', sheet_name='importacao', skiprows=3,skipfooter=4)

importacao = importacao.rename(columns={'Unnamed: 0': 'Produtos'})
#Remover a primeira linha
importacao = importacao.iloc[1:, :]

In [464]:
importacao.head()

                         Produtos  Importação de bens\ne serviços (1)
1                  Arroz em casca                               433.0
2                   Milho em grão                              1113.0
3  Trigo em grão e outros cereais                              8407.0
4                  Cana-de-açúcar                                 0.0
5                    Soja em grão                              2218.0

Matriz de distribuição total

In [466]:
#Dividir todos os elementos das linhas de um dataframe pelo o valor respectivo de linha de uma das colunas desse dataframe
matriz_distribuicao_total = demanda_total.iloc[:,1:].div(demanda_total['Demanda\ntotal'],axis=0)

In [467]:
matriz_distribuicao_total.head()

,Agricultura silvicultura exploração florestal,Pecuária e pesca,Petróleo e gás natural,Minério de ferro,Outros da indústria extrativa,Alimentos e Bebidas,Produtos do fumo,Têxteis,Artigos do vestuário e acessórios,Artefatos de couro e calçados,...,Total,Exportação\nde bens,Exportação\nde serviços,Consumo\nda administração pública,Consumo\ndas\n ISFLSF,Consumo \ndas famílias,Formação bruta\nde capital fixo,Variação\nde estoque,Demanda\nfinal,Demanda\ntotal
1,0.015054,0.016264,0.0,0.0,0.0,0.886376,0.0,0.0,0.0,0.0,...,0.917694,0.055904,0.0,0.0,0.0,0.026401,0.0,0.0,0.082306,1.0
2,0.031724,0.109620,0.0,0.0,0.0,0.333636,0.0,0.0,0.0,0.0,...,0.497472,0.413306,0.0,0.0,0.0,0.089222,0.0,0.0,0.502528,1.0
3,0.019567,0.013797,0.0,0.0,0.0,0.800502,0.0,0.0,0.0,0.0,...,0.917215,0.035183,0.0,0.0,0.0,0.047601,0.0,0.0,0.082785,1.0
4,0.014118,0.003830,0.0,0.0,0.0,0.572396,0.0,0.0,0.0,0.0,...,0.972936,0.000000,0.0,0.0,0.0,0.027064,0.0,0.0,0.027064,1.0
5,0.016420,0.001371,0.0,0.0,0.0,0.253475,0.0,0.0,0.0,0.0,...,0.346192,0.653180,0.0,0.0,0.0,0.000628,0.0,0.0,0.653808,1.0

Matrizes de IPI, ICMS e Outros Impostos

In [441]:
matriz_ipi = matriz_distribuicao_total.mul(oferta['IPI'], axis=0)

In [470]:
matriz_icms = matriz_distribuicao_total.mul(oferta['ICMS'], axis=0)

In [379]:
matrix_oill = matriz_distribuicao_total.mul(oferta['Outros impostos menos subsídios'], axis=0)

In [479]:
matrix_oill.tail(7)

,Agricultura silvicultura exploração florestal,Pecuária e pesca,Petróleo e gás natural,Minério de ferro,Outros da indústria extrativa,Alimentos e Bebidas,Produtos do fumo,Têxteis,Artigos do vestuário e acessórios,Artefatos de couro e calçados,...,Total,Exportação\nde bens,Exportação\nde serviços,Consumo\nda administração pública,Consumo\ndas\n ISFLSF,Consumo \ndas famílias,Formação bruta\nde capital fixo,Variação\nde estoque,Demanda\nfinal,Demanda\ntotal
101,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,910.174344,0.0,0.0,1222.846684,197.575900,4989.795418,0.0,0.0,6417.825656,7328.0
102,2.537928,0.986972,47.092663,26.366251,4.652868,119.094618,3.148911,4.511872,2.81992,3.101912,...,4410.354753,0.0,0.0,0.000000,2168.988404,4249.149331,0.0,0.0,6646.645247,11057.0
103,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
104,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
105,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
106,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
107,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0

Matriz de margens de comércio

In [480]:
margem_comercio = matriz_distribuicao_total.mul(oferta['Margem \nde\ncomércio'],axis=0)

In [483]:
oferta['Margem \nde\ncomércio']

1       1672.0
2      11087.0
3       2124.0
4          0.0
5       7268.0
        ...
103        0.0
104        0.0
105        0.0
106        0.0
107        0.0
Name: Margem \nde\ncomércio, Length: 107, dtype: float64

In [487]:
margem_distribuida_comercio = margem_comercio.loc[~margem_comercio.index.isin([89])].sum(axis=0)

In [497]:
margem_distribuida_comercio.values.reshape(1,61)

array([[2.22949648e+04, 1.35711789e+04, 7.02428122e+03, 3.69033025e+03,
        1.81941737e+03, 7.01750271e+04, 6.23708050e+02, 5.44906185e+03,
        8.34288658e+03, 4.10596571e+03, 2.29612803e+03, 7.25916660e+03,
        1.49944538e+03, 1.21938890e+04, 1.69328549e+03, 1.06131896e+04,
        3.29904920e+03, 4.08868738e+03, 3.49441914e+03, 4.81675197e+03,
        1.60252955e+03, 2.12277301e+03, 8.85443693e+03, 6.37213434e+03,
        8.19982633e+03, 4.83405386e+03, 7.36353735e+03, 1.61533313e+04,
        8.03619513e+03, 1.52198789e+04, 1.47024572e+04, 7.58295568e+03,
        2.56637092e+03, 5.46890607e+03, 6.29972094e+03, 3.25911208e+04,
        2.31811654e+04, 1.44334073e+04, 6.23062680e+03, 3.12067233e+03,
        1.97235500e+03, 1.10594812e+03, 2.16509190e+04, 1.21724860e+04,
        8.32650441e+02, 1.64388708e+04, 7.46947434e+03, 0.00000000e+00,
        3.87770148e+03, 9.00602402e+03, 7.01555788e+03, 4.64828921e+05,
        1.01251565e+05, 5.88969973e+02, 2.15006790e+03, 0.00000000e+00,
        5.35580949e+05, 8.22825278e+04, 0.00000000e+00, 7.21854079e+05,
        1.18668300e+06]])

In [498]:
margem_comercio.loc[margem_comercio.index.isin([89]),:] = -1*margem_distribuida_comercio.values.reshape(1,61)

In [500]:
margem_comercio.loc[margem_comercio.index.isin([89]),:]

,Agricultura silvicultura exploração florestal,Pecuária e pesca,Petróleo e gás natural,Minério de ferro,Outros da indústria extrativa,Alimentos e Bebidas,Produtos do fumo,Têxteis,Artigos do vestuário e acessórios,Artefatos de couro e calçados,...,Total,Exportação\nde bens,Exportação\nde serviços,Consumo\nda administração pública,Consumo\ndas\n ISFLSF,Consumo \ndas famílias,Formação bruta\nde capital fixo,Variação\nde estoque,Demanda\nfinal,Demanda\ntotal
89,-22294.96477,-13571.178908,-7024.281219,-3690.330253,-1819.417374,-70175.027061,-623.70805,-5449.061851,-8342.886577,-4105.965714,...,-464828.920724,-101251.565023,-588.969973,-2150.067905,-0.0,-535580.948599,-82282.527776,-0.0,-721854.079276,-1186683.0

Matriz de transporte

In [508]:
margem_transporte =matriz_distribuicao_total.mul(oferta['Margem\nde\ntransporte'],axis=0)

In [509]:
margens = oferta[oferta['Produtos'].isin(['Transporte de carga','Transporte de passageiro'])]['Margem\nde\ntransporte']

In [522]:
margens = margens/margens.sum()

In [512]:
margem_transporte.loc[margem_transporte.index.isin([90,91])]

,Agricultura silvicultura exploração florestal,Pecuária e pesca,Petróleo e gás natural,Minério de ferro,Outros da indústria extrativa,Alimentos e Bebidas,Produtos do fumo,Têxteis,Artigos do vestuário e acessórios,Artefatos de couro e calçados,...,Total,Exportação\nde bens,Exportação\nde serviços,Consumo\nda administração pública,Consumo\ndas\n ISFLSF,Consumo \ndas famílias,Formação bruta\nde capital fixo,Variação\nde estoque,Demanda\nfinal,Demanda\ntotal
90,-2572.457924,-358.634788,-4818.656228,-1912.414878,-605.324452,-13121.97495,-47.87877,-268.349107,-150.932123,-190.37511,...,-83345.767186,-966.69517,-5757.992101,-0.0,-0.0,-7570.545543,-0.0,-0.0,-14295.232814,-97641.0
91,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.00000,...,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0

In [513]:
margem_distribuida = margem_transporte.loc[~margem_transporte.index.isin([90,91])].sum(axis=0)

In [526]:
margem_transporte.loc[90:91,:] =(margem_distribuida.values.reshape(61,1) * margens.values.reshape(1,2)*-1).transpose()

Imposto de importação e importação

In [529]:
demanda_final_sem_exp= demanda_total

In [530]:
demanda_final.columns

Index(['Exportação\nde bens ', 'Exportação\nde serviços',
       'Consumo\nda administração pública', 'Consumo\ndas\n ISFLSF',
       'Consumo \ndas famílias', 'Formação bruta\nde capital fixo',
       'Variação\nde estoque', 'Demanda\nfinal', 'Demanda\ntotal'],
      dtype='object')

In [531]:
#zerar a coluna de exportação

demanda_final_sem_exp[['Exportação\nde bens ']] = 0

In [532]:
demanda_final_sem_exp['Demanda\ntotal'] = demanda_final_sem_exp['Demanda\ntotal'] - demanda_final['Exportação\nde bens '] 
demanda_final_sem_exp['Demanda\nfinal'] = demanda_final_sem_exp['Demanda\nfinal'] - demanda_final['Exportação\nde bens ']

In [390]:
demanda_final_sem_exp.iloc[:,1:]

,Agricultura silvicultura exploração florestal,Pecuária e pesca,Petróleo e gás natural,Minério de ferro,Outros da indústria extrativa,Alimentos e Bebidas,Produtos do fumo,Têxteis,Artigos do vestuário e acessórios,Artefatos de couro e calçados,...,Total,Exportação\nde bens,Exportação\nde serviços,Consumo\nda administração pública,Consumo\ndas\n ISFLSF,Consumo \ndas famílias,Formação bruta\nde capital fixo,Variação\nde estoque,Demanda\nfinal,Demanda\ntotal
1,199.0,215.0,0.0,0.0,0.0,11717.0,0.0,0.0,0.0,0.0,...,12131.0,0,0,0.0,0.0,349.0,0.0,0,1088.0,13219.0
2,2378.0,8217.0,0.0,0.0,0.0,25009.0,0.0,0.0,0.0,0.0,...,37290.0,0,0,0.0,0.0,6688.0,0.0,0,37669.0,74959.0
3,312.0,220.0,0.0,0.0,0.0,12764.0,0.0,0.0,0.0,0.0,...,14625.0,0,0,0.0,0.0,759.0,0.0,0,1320.0,15945.0
4,951.0,258.0,0.0,0.0,0.0,38556.0,0.0,0.0,0.0,0.0,...,65536.0,0,0,0.0,0.0,1823.0,0.0,0,1823.0,67359.0
5,3845.0,321.0,0.0,0.0,0.0,59355.0,0.0,0.0,0.0,0.0,...,81066.0,0,0,0.0,0.0,147.0,0.0,0,153099.0,234165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,178.0,43.0,882.0,606.0,145.0,1033.0,26.0,63.0,128.0,53.0,...,8656.0,0,0,0.0,49913.0,33059.0,0.0,0,82972.0,91628.0
104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0.0,0.0,59474.0,0.0,0,59474.0,59474.0
105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,369800.0,0.0,0.0,0.0,0,369800.0,369800.0
106,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,240892.0,0.0,0.0,0.0,0,240892.0,240892.0
107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,854589.0,0.0,0.0,0.0,0,854589.0,854589.0

In [533]:
matriz_distribuicao_importacao = demanda_final_sem_exp.iloc[:,1:].div(demanda_final_sem_exp.iloc[:,1:]['Demanda\ntotal'],axis=0)

In [534]:
matriz_distribuicao_importacao.head()

,Agricultura silvicultura exploração florestal,Pecuária e pesca,Petróleo e gás natural,Minério de ferro,Outros da indústria extrativa,Alimentos e Bebidas,Produtos do fumo,Têxteis,Artigos do vestuário e acessórios,Artefatos de couro e calçados,...,Total,Exportação\nde bens,Exportação\nde serviços,Consumo\nda administração pública,Consumo\ndas\n ISFLSF,Consumo \ndas famílias,Formação bruta\nde capital fixo,Variação\nde estoque,Demanda\nfinal,Demanda\ntotal
1,0.015946,0.017228,0.0,0.0,0.0,0.938862,0.0,0.0,0.0,0.0,...,0.972035,0.0,0.0,0.0,0.0,0.027965,0.0,0.0,0.027965,1.0
2,0.054072,0.186843,0.0,0.0,0.0,0.568671,0.0,0.0,0.0,0.0,...,0.847924,0.0,0.0,0.0,0.0,0.152076,0.0,0.0,0.152076,1.0
3,0.020281,0.014301,0.0,0.0,0.0,0.829693,0.0,0.0,0.0,0.0,...,0.950663,0.0,0.0,0.0,0.0,0.049337,0.0,0.0,0.049337,1.0
4,0.014118,0.003830,0.0,0.0,0.0,0.572396,0.0,0.0,0.0,0.0,...,0.972936,0.0,0.0,0.0,0.0,0.027064,0.0,0.0,0.027064,1.0
5,0.047345,0.003953,0.0,0.0,0.0,0.730856,0.0,0.0,0.0,0.0,...,0.998190,0.0,0.0,0.0,0.0,0.001810,0.0,0.0,0.001810,1.0

In [535]:
margem_importacao = matriz_distribuicao_importacao.mul(importacao['Importação de bens\ne serviços (1)'], axis=0)

In [536]:
margem_importacao.head()

,Agricultura silvicultura exploração florestal,Pecuária e pesca,Petróleo e gás natural,Minério de ferro,Outros da indústria extrativa,Alimentos e Bebidas,Produtos do fumo,Têxteis,Artigos do vestuário e acessórios,Artefatos de couro e calçados,...,Total,Exportação\nde bens,Exportação\nde serviços,Consumo\nda administração pública,Consumo\ndas\n ISFLSF,Consumo \ndas famílias,Formação bruta\nde capital fixo,Variação\nde estoque,Demanda\nfinal,Demanda\ntotal
1,6.904407,7.459535,0.0,0.0,0.0,406.527324,0.0,0.0,0.0,0.0,...,420.891266,0.0,0.0,0.0,0.0,12.108734,0.0,0.0,12.108734,433.0
2,60.182682,207.956728,0.0,0.0,0.0,632.930488,0.0,0.0,0.0,0.0,...,943.739370,0.0,0.0,0.0,0.0,169.260630,0.0,0.0,169.260630,1113.0
3,170.500780,120.224909,0.0,0.0,0.0,6975.230629,0.0,0.0,0.0,0.0,...,7992.224064,0.0,0.0,0.0,0.0,414.775936,0.0,0.0,414.775936,8407.0
4,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
5,105.010405,8.766798,0.0,0.0,0.0,1621.038381,0.0,0.0,0.0,0.0,...,2213.985298,0.0,0.0,0.0,0.0,4.014702,0.0,0.0,4.014702,2218.0

In [537]:
margem_ii = matriz_distribuicao_importacao.mul(oferta['Imposto\nde\nimportação'], axis=0)

In [538]:
margem_ii.head(6)

,Agricultura silvicultura exploração florestal,Pecuária e pesca,Petróleo e gás natural,Minério de ferro,Outros da indústria extrativa,Alimentos e Bebidas,Produtos do fumo,Têxteis,Artigos do vestuário e acessórios,Artefatos de couro e calçados,...,Total,Exportação\nde bens,Exportação\nde serviços,Consumo\nda administração pública,Consumo\ndas\n ISFLSF,Consumo \ndas famílias,Formação bruta\nde capital fixo,Variação\nde estoque,Demanda\nfinal,Demanda\ntotal
1,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.00000,0.0,0.000000,0.00000,0.0,0.000000,0.0
2,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.00000,0.0,0.000000,0.00000,0.0,0.000000,0.0
3,0.101404,0.071503,0.0,0.0,0.0,4.148466,0.0,0.0,0.0,0.0,...,4.753315,0.0,0.0,0.00000,0.0,0.246685,0.00000,0.0,0.246685,5.0
4,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.00000,0.0,0.000000,0.00000,0.0,0.000000,0.0
5,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.00000,0.0,0.000000,0.00000,0.0,0.000000,0.0
6,14.550287,2.005580,0.0,0.0,0.0,19.843446,0.0,0.0,0.0,0.0,...,60.298488,0.0,0.0,0.57939,0.0,335.511273,0.61085,0.0,336.701512,397.0

Consumo intermediário a preços básicos

In [540]:
consumo_intermediario_fatores = demanda_total.iloc[:,1:] - matriz_icms - matriz_ipi - matrix_oill - margem_comercio - margem_transporte - margem_importacao - margem_ii

In [568]:
consumo_intermediario_fatores['Total'] = consumo_intermediario_fatores[consumo_intermediario_fatores.columns[:51]].sum(axis=1)

In [565]:
consumo_intermediario_fatores['Demanda\nfinal'] = consumo_intermediario_fatores[consumo_intermediario_fatores.columns[52:59]].sum(axis=1)

In [569]:
consumo_intermediario_fatores['Demanda\ntotal'] = consumo_intermediario_fatores['Total'] + consumo_intermediario_fatores['Demanda\nfinal']